@page "/OrderPages/AddOrder/{Id:int?}"
@using SalesOrderBlazor.Models
@inject NavigationManager NavigationManager
@inject HttpClient Http
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-+/oyKj/mQvw71zAmRlpqpJOK01jCpOUZOZnPxTPd0r3qfJG1jcaNHQbIn0NVenRJ1zbL+LZpYB9X+jJ6p97PzA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .modal {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<h3 style="color:green;">@message</h3>

<EditForm Model="order" OnValidSubmit="AddOrders">
    <div class="col-md-12">
        <button type="submit" style="float:right; width:130px" class="btn-success">Save</button>
    </div>
    <DataAnnotationsValidator/>
    <div>
        <div class="col-md-6">
            <h3>AddOrder</h3>
            <div class="form-group">
                <label>Name</label>
                <InputText class="form-control" @bind-Value="@order.Name"></InputText>
                <ValidationMessage For="@(()=>order.Name)"/>
            </div>
            <div class="form-group">
                <label>State</label>
                <InputText class="form-control" @bind-Value="@order.State"></InputText>
                <ValidationMessage For="@(()=>order.State)" />
            </div>
          
          
        </div>
     </div>
</EditForm>
<EditForm Model="window" OnValidSubmit="AddWindow">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-6">
            <h3>Add Window</h3>

            <div class="form-group">
                <label>Name</label>
                <InputText class="form-control" @bind-Value="@window.Name"></InputText>
                <ValidationMessage For="@(()=>window.Name)" />
            </div>
            <div class="form-group">
                <label>Quantity Of Windows</label>
                <InputNumber class="form-control" @bind-Value="@window.QuantityOfWindows"></InputNumber>
                <ValidationMessage For="@(()=>window.QuantityOfWindows)" />
            </div>
            <div class="form-group">
                <label>Total Sub Elements</label>
                <InputNumber class="form-control" @bind-Value="@window.TotalSubElements" readonly></InputNumber>
                <ValidationMessage For="@(()=>window.TotalSubElements)" />
            </div>
            <button type="submit" style="margin-top:10px" class="btn-success">Add</button>
        </div>
    </div>
 
</EditForm>
    <div class="row">
        <div class="col-md-12">
            <h3>Window List</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>QuantityOfWindows</th>
                        <th>TotalSubElements</th>
                        <th>SubElements</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in winList)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.QuantityOfWindows</td>
                            <td>@item.TotalSubElements</td>

                            <td>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Element</th>
                                            <th>Type</th>
                                            <th>Width</th>
                                            <th>Height</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (item.SubElements != null && item.SubElements.Count > 0)
                                        {
                                            @foreach (var element in item.SubElements)
                                            {
                                                <tr>
                                                    <td>@element.Element</td>
                                                    <td>@element.Type</td>
                                                    <td>@element.Width</td>
                                                    <td>
                                                        @element.Height
                                                    </td>
                                                    <td>
                                                        <button @onclick="() => DeleteSubElement(item,element)" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <button @onclick="() => ShowPopUp(item)" class="btn-success">Add Element</button>
                                <button @onclick="() => DeleteWindow(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
       
<EditForm Model="sub" OnValidSubmit="AddElement">
    <DataAnnotationsValidator />
  <ValidationSummary/>
    @if (showModal)
    {
        <div class="modal">
            <div class="modal-content">
                <span class="close" @onclick="() => showModal = false">&times;</span>
                <h2>Add SubElement</h2>
             
                    <div class="form-group">
                        <label>Element</label>
                        <InputText class="form-control" @bind-Value="@sub.Element"></InputText>
                        <ValidationMessage For="@(()=>sub.Element)" />
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <InputText class="form-control" @bind-Value="@sub.Type"></InputText>
                        <ValidationMessage For="@(()=>sub.Type)" />
                    </div>
                    <div class="form-group">
                        <label>Width</label>
                        <InputNumber class="form-control" @bind-Value="@sub.Width"></InputNumber>
                        <ValidationMessage For="@(()=>sub.Width)" />
                    </div>

                    <div class="form-group">
                        <label>Height</label>
                        <InputNumber class="form-control" @bind-Value="@sub.Height"></InputNumber>
                        <ValidationMessage For="@(()=>sub.Height)" />
                    </div>
                <button type="submit" style="margin-top:10px;"  class="btn-success">Add</button>

            </div>
        </div>
    }
</EditForm>
@code {
    [Parameter]
    public int? Id { get; set; }
    private bool showModal = false;
    Order order = new Order();
    Window window = new Window();
    SubElement sub = new SubElement();
    [Parameter]
    public Window windowObject { get; set; }
    public List<Window> winList = new List<Window>();
    public List<SubElement> subList = new List<SubElement>();
    string message = "";
    async Task AddOrders()
    {
        order.Windows = winList;
        if(order.OrderId == 0)
        {
            var data = await Http.PostAsJsonAsync<Order>("https://localhost:7274/api/Order/createOrder", order);
            NavigationManager.NavigateTo("OrderPages/OrderList");
        }
        else
        {
            var data = await Http.PostAsJsonAsync<Order>("https://localhost:7274/api/Order/editOrder", order);
            message = "Order updated successfully";
        }

    }  
    async Task AddWindow()
    {
        window.SubElements = new List<SubElement>();
        winList.Add(window);
        window = new Window();
    }
    async Task ShowPopUp(Window win)
    {
        showModal = true;
        windowObject = win;
    }
    async Task DeleteWindow(Window win)
    {
        winList.Remove(win);
        if (win.WindowId != 0)
        {
            var data = await Http.DeleteAsync("https://localhost:7274/api/Order/deleteWindow/" + win.WindowId);
        }
    }

    async Task DeleteSubElement(Window win, SubElement element)
    {
        win.SubElements.Remove(element);
        if (element.SubElementId != 0)
        {
            var data = await Http.DeleteAsync("https://localhost:7274/api/Order/DeleteSubElement/" + element.SubElementId);
        }
    }
    async Task AddElement()
    {
        windowObject.SubElements.Add(sub);
        windowObject.TotalSubElements = windowObject.SubElements.Count;
        sub = new SubElement();
        showModal = false;
    }
    private async Task<Order> MakeOrderRequestAsync()
    {
        var response = await Http.GetFromJsonAsync<Order>("https://localhost:7274/api/Order/getOrderDetails/" + Id);
        return response;
    }
    protected override async Task OnInitializedAsync()
    {
        if(Id.HasValue)
        {
            order = await MakeOrderRequestAsync();
            winList = order.Windows;
        }
    }
}
